@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}
.leaflet-container {
  height: 100%;
  width: 100%;
  display: block;
}
.map-container {
  height: 400px;
  width: 100%;
}
